.custom-drawer {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .drawer-header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .drawer-header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .drawer-content {
    display: flex;
    flex-direction: column;
  }
  
  .drawer-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .drawer-item:hover {
    background-color: #e2e6ea;
  }
  
  .drawer-icon {
    margin-right: 10px;
    font-size: 1.2em;
    color: #007bff;
  }
  
  .headerstyle{
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    position:fixed;
    background: #f6f6f6;
  }

  .menu_button{
        background: none;
        border: none;
        color: var(--TextColor);
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        height: 50px;
        min-width: 50px;
        outline: none;
        padding: 0;
        position: relative;

  }